<!doctype html>
<style>
   .apexcharts-theme-dark{
   display: none !important;
   }
   .w-1{
   display: none !important;
   }
   .apexcharts-ycrosshairs{
   display: none;
   }
</style>
<%- include('../layouts/top_header') %>
<body class="layout-fluid theme-light">
   <div class="page">
      <%- include('../layouts/header') %>
      <div class="page-wrapper">
         <!-- Page body -->
         <div class="page-body">
            <div class="container-xl">
               <div class="col-12">
                  <div class="row row-cards" style="background-color: #ffa600;">
                     <% if (session.role_id === 1 || session.role_id === 2) { %>
                     <div class="col-sm-6 col-lg-3">
                        <a href="">
                           <div class="card card-sm">
                              <div class="card-body">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <span
                                          class="bg-primary text-white avatar">
                                          <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                          <i class="fa fa-users"></i>
                                       </span>
                                    </div>
                                    <div class="col">
                                       <div class="font-weight-medium">
                                          <%= forward.user_count || 0 %>
                                       </div>
                                       <div class="text-muted">
                                          Total Employee
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col-sm-6 col-lg-3">
                        <a href="">
                           <div class="card card-sm">
                              <div class="card-body">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <span
                                          class="bg-primary text-white avatar">
                                          <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                          <i class="fa fa-building"></i>
                                       </span>
                                    </div>
                                    <div class="col">
                                       <div class="font-weight-medium">
                                          <%= resolve.department_count || 0 %>
                                       </div>
                                       <div class="text-muted">
                                          Total Deaprtment
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                     <%  }%>
                     <div class="col-sm-6 col-lg-3">
                        <a href="">
                           <div class="card card-sm">
                              <div class="card-body">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <span
                                          class="bg-primary text-white avatar">
                                          <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                          <i class="fa fa-archive"></i>
                                       </span>
                                    </div>
                                    <div class="col">
                                       <div class="font-weight-medium">
                                          <%= inbox.total_complaints || 0 %>
                                       </div>
                                       <div class="text-muted">
                                          Total Complain
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col-sm-6 col-lg-3">
                        <a href="">
                           <div class="card card-sm">
                              <div class="card-body">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <span
                                          class="bg-facebook text-white avatar">
                                          <!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                                          <i class="fa fa-tasks"></i>
                                       </span>
                                    </div>
                                    <div class="col">
                                       <div class="font-weight-medium">
                                          <%= inbox.forward || 0 %>
                                       </div>
                                       <div class="text-muted">
                                          Total  forwrd Complain
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="row row-cards" style="background-color: #ffa600;">
                     <div class="col-sm-6 col-lg-3">
                        <a href="">
                           <div class="card card-sm">
                              <div class="card-body">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <span
                                          class="bg-primary text-white avatar">
                                          <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                          <i class="fa fa-tasks"></i>
                                       </span>
                                    </div>
                                    <div class="col">
                                       <div class="font-weight-medium">
                                          <%= inbox.resolve || 0 %>
                                       </div>
                                       <div class="text-muted">
                                          Total Complain Solved
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col-sm-6 col-lg-3">
                        <a href="">
                           <div class="card card-sm">
                              <div class="card-body">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <span
                                          class="bg-primary text-white avatar">
                                          <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                          <i class="fa fa-tasks"></i>
                                       </span>
                                    </div>
                                    <div class="col">
                                       <div class="font-weight-medium">
                                          <%= inbox.inbox || 0 %>
                                       </div>
                                       <div class="text-muted">
                                          Total Complain inbox
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col-sm-6 col-lg-3">
                        <a href="">
                           <div class="card card-sm">
                              <div class="card-body">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <span
                                          class="bg-primary text-white avatar">
                                          <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                          <i class="fa fa-tasks"></i>
                                       </span>
                                    </div>
                                    <div class="col">
                                       <div class="font-weight-medium">
                                          <%= inbox.reject || 0 %>
                                       </div>
                                       <div class="text-muted">
                                          Total  Complain Rejeacted
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col-sm-6 col-lg-3">
                        <a href="">
                           <div class="card card-sm">
                              <div class="card-body">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <span
                                          class="bg-facebook text-white avatar">
                                          <!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                                          <i class="fa fa-tasks"></i>
                                       </span>
                                    </div>
                                    <div class="col">
                                       <div class="font-weight-medium">
                                          08
                                       </div>
                                       <div class="text-muted">
                                          Total Feedback
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  
                  <div class="row row-cards" style="background-color: #ffa600;">
                     <div class="col-sm-6 col-lg-8">
                        <div class="card">
                           <div class="card-body"style=" overflow-y: auto; overflow-x: auto;">
                              <h3 class="card-title">Month Wise </h3>
                              <div>
                                 <canvas id="monthlyBarChart"></canvas>
                             </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 col-lg-4">
                        <div class="card">
                           <div class="card-body" style=" overflow-y: auto;">
                              <div id="chart-demo-pie" >
                                 <div>
                                    <canvas id="statusPieChart"></canvas>
                                </div>
                                
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script>
      // Convert server-side data to a JavaScript variable
      const statusPieData = JSON.parse('<%- JSON.stringify(statusPieData) %>');
      const monthlyBarData = JSON.parse(' <%- JSON.stringify(monthlyBarData) %>');
  </script>
<script>
  

    // Render Pie Chart
    const statusPieCtx = document.getElementById('statusPieChart').getContext('2d');
    const statusPieChart = new Chart(statusPieCtx, {
        type: 'pie',
        data: {
            labels: statusPieData.map(data => data.label),
            datasets: [{
                data: statusPieData.map(data => data.value),
                backgroundColor: ['red', 'green', 'blue'] // Customize colors as needed
            }]
        }
    });
    const monthlyBarCtx = document.getElementById('monthlyBarChart').getContext('2d');
   
    const monthlyBarChart = new Chart(monthlyBarCtx, {
    type: 'bar',
    data: {
        labels: monthlyBarData.map(data => data.month),
        datasets: [{
            label: 'complain',
            data: monthlyBarData.map(data => data.complain),
            backgroundColor: 'blue' // Customize color as needed
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 1, // Minimum value on the y-axis
                    max: 5000, // Maximum value on the y-axis
                    stepSize: 500 // Step size between ticks (adjust as needed)
                }
            }]
        }
    }
});

    </script>
   <%- include('../layouts/footer') %>
   </div>
   </div>
</body>